p .data {
	padding: 0 0 0 50px;
}

#coins {
	width:400px;
	padding: 0 0 0 50px;
}
p a {
	color: #777777;
	text-decoration: none;
}
p a:hover {
	color: #cccccc;
}
p q {
	font-style: italic;
}
table {
	width: 500px;
	border-collapse: collapse;
}
table td{
	text-align: center;
}













