.icon.top {
	position: fixed;
	background-image: url("../images/top-icon.svg");
	width: 120px;
	height: 60px;
	bottom: 30px;
	right: 50px;
}

#content {
	margin: 0 auto;
	max-width: 900px;
	padding: 30px 30px 30px 0px;
}

#content p, dl {
	line-height: 25px;
	padding: 0 0 0 50px;
}

.toc {
	position: fixed;
	margin: 30px 30px 30px 40px;
	font-size: 14px;
}

.toc li {
	display: block;
	text-align: left;
}

.toc a {
	color: #021929;
	text-decoration: none;
	line-height: 23px;
}

.section:not(:first-child) {
	margin: 50px 0px;
}

.section dl dt {
	margin: 10px 0;
}


.section dl dd {
	margin: 0 0 30px 30px;
}

.section dl dt {
	font-weight: 640;
	font-size: 120%;
}










