.icon.top {
	position: fixed;
	background-image: url("../images/top-icon.svg");
	width: 120px;
	height: 60px;
	bottom: 50px;
	right: 50px;
}

#content {
	margin: 0 auto;
	max-width: 900px;
	padding: 30px;
}

#content p, .data {
	padding: 0 0 0 50px;
}

.toc {
	position: fixed;
	margin: 30px 30px 30px 40px;
	font-size: 14px;
}

.toc li {
	display: block;
	text-align: left;
}

.toc a {
	color: #021929;
	text-decoration: none;
	line-height: 23px;
}

.section:not(:first-child) {
	margin: 50px 0px;
}

#coins {
	width:400px;
	padding: 0 0 0 50px;
}

#content p a {
	color: #777777;
	text-decoration: none;
}

#content p a:hover {
	color: #cccccc;
}

p q {
	font-style: italic;
}

table {
	width: 500px;
	border-collapse: collapse;
}

table td{
	text-align: center;
}













